<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.InterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.czq.apicommon.entity.InterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="requestParams" column="requestParams" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="requestHeader" column="requestHeader" jdbcType="VARCHAR"/>
            <result property="responseHeader" column="responseHeader" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        url,method,requestParams,requestHeader,
        responseHeader,status,isDelete,
        createTime,updateTime,userId
    </sql>
</mapper>
